body {
  background-color: salmon;
}

body {
  color: white;
  font-family: 'Open Sans', sans-serif;
  
}

p {
  color: white;
  font-family: 'Merriweather', serif;
}

Table {
  background-color: gray;
}


